<div class="container">
    <div class="row">

        <div class="col-xs-12" id="bid_form">
        
        
            <!--<div class="hidden-sm hidden-md hidden-lg">-->
            <br><br><br><br>
            <!--</div>-->
            
            <h1> Property <span ng-bind="propertyName"></span> </h1><small style="font-style: italic; font-size:15px;">in Newark</small>
            
                <div></div>
                <!--^Some kind of part of the map or a pictur of the property?-->
                <!--google maps has pictures of property locations-->
                
            <br>
            <br>
            <br>

            <!--<h2>Suggested Bid-->
                <input type="text" class="form-control"></input>
                <button  type="submit" class="btn bid_form"  >Bid</button>

            </div>
            
            
        </div>


            
            
            
    </div>
</div>