<div class="container">
    <div class="row">

        <div class="col-xs-12" id="bid_form">


            <!--<div class="hidden-sm hidden-md hidden-lg">-->
            <br><br><br><br>
            <!--</div>-->

            <h1><span id="address" class="caplower"></span><small>, Newark</small></h1>

                <!-- <div></div> -->
                <!--^Some kind of part of the map or a pictur of the property?-->
                <!--google maps has pictures of property locations-->
            <br>
            <br>
            <br>
                <!-- <h2>Average Bid</h2> -->
                <!-- <h2>Previous Bid</h2> -->
                <input type="text" class="form-control"></input>
                <button  type="submit" class="btn bid_form"  >Bid</button>

            </div>


        </div>





    </div>
</div>
