<div class="container">
    <div class="row">
        <div class="col-xs-12" id="bid_form">
            <br><br><br><br>
            <h1><span ng-bind="bid.bidpropertyAddress" class="caplower"></span><small>, Newark</small></h1>
            <h2>Average Bid</h2>
            <p>{{bid.bidAverage}}</p>
            <!-- <h2>Previous Bid</h2> -->
            <input ng-model="bid.bidAmount" type="text" class="form-control"></input>
            <button  ng-click="bid.bid()" type="submit" class="btn bid_form"  >Bid</button>


        </div>
    </div>
</div>
