

<div></div>
<!--icon-->

<div class="container">
    <div class="row">
        <!--<div class="hidden-sm hidden-md hidden-lg">-->
            <br><br><br><br>
        <!--</div>-->
        <div class="col-xs-12 col-sm-6">
            
            <h1> Welcome </h1>
            
            <form id="login_form" ng-submit="login.submit()" >
                Username
                <input name="Username" type="text" class="form-control" ng-model="login.username" required></input>
                Password
                <input name="Password" type="password" class="form-control" ng-model="login.password" required></input>

                <button type="submit" class="btn submit_form" >Login</button>
            </form>
            
            

        </div>

        <div class="col-xs-12 col-sm-6">
            <i class="material-icons" style="font-size:250px; text-shadow:4px 4px grey;">input</i>
            <h3>With your VacantLots App account, you can make bids and check out lots.</h3>
            <h6>Happy bidding</h6>
        </div>

            
            
            
    </div>
</div>
