<div>
  <ng-map id="map" default-style="true"
    center="{{map.genmap.center[0]}}, {{map.genmap.center[1]}}" zoom="13">



     <marker
     ng-repeat="x in map.markers"
     position="{{x.latitude}},
     {{x.longitude}}" title="{{x.address}}"
      >
    </marker>


  </ng-map>
</div>









     <!-- <marker icon="./images/mapicons/iconred.png" position="[{map.markers[0].latitude}, {map.markers[0].latitude}]" title="map.markers[0].address"></marker> -->

<!-- position="[{map.markers[0].latitude}, {map.markers[0].latitude}]"  -->
     <!-- <marker icon="./images/mapicons/iconred.png" position="[40.71, -74.21]" title="hello"></marker> -->
