

<div></div>
<!--icon-->

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-6">
        
        
            <div class="hidden-sm hidden-md hidden-lg">
                <br><br><br>
            </div>
            
            <h1> Welcome </h1>
            
            <div id="login_form" >
                Username
                <input type="text" class="form-control"></input>
                Password
                <input type="text" class="form-control"></input>
                <button class="btn" >Login</button>

            </div>
            
            
            <a ui-sref="registerPage">Register</a>
        </div>

        <div class="col-xs-12 col-sm-6">
            <i class="material-icons" style="font-size:250px; text-shadow:4px 4px grey;">input</i>
            <h3>With your VacantLots App account, you can make bids and check out lots.</h3>
            <h6>Happy bidding</h6>
        </div>

            
            
            
    </div>
</div>